{% load static %}


<html >
    <head >
        <title>Library Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
        
    </head>
    
    <style>
        .required:before { 
            content:" *";
            color: red;
        }

    </style>




    <body style="background-color: rgb(213, 254, 252);"> 
        <h2 style="background-color: rgb(237, 234, 61); font-style: italic;">Library Application</h2><hr>
        <form action="{% url 'book_form' %}" method="post">
            {% csrf_token %}
                {{form.as_p}}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        
    <!-- <a href="/books/">Show books</a> instead of this follow below one  -->
    <a href="{% url 'all_active_books' %}"><button class="btn btn-success">Show Active Books</button></a>
    <a href="{% url 'all_inactive_book' %}"><button class="btn btn btn-danger">Show in-Active Books</button></a>
    

    </body>

</html>    